@{
    ViewBag.Title = "404";
}
<style>
    .Space404 {
        background-color: white;
        width: 90%;
        margin-left: 5%;
        border: solid 1px #D8D8D8;
        border-radius: 5px;
        height: auto;
        min-height: 560px;
    }

    .Rom404 {
        width: 580px;
        height: 288px;
        margin-left: calc(50% - 290px);
        margin-top: 5%;
    }

   .Rom404  img {
        border-radius: 5px;
    }

    .GoHeadPage {
        text-align: center;
        font-size: x-large;
        margin-top: 3%;
    }
</style>
<div class="Space404">
    <div class="Rom404"><img src="~/Content/Images/404.jpg" /></div>
    <div class="GoHeadPage"><a href="/">要不，去首页找找？</a></div>
</div>
