@{
    ViewBag.Title = "TechQuick'Code";
}

<div class="Overview">
    <div class="PageTitle">
        <i class="iconfont ">&#xe609;</i><span> 总览</span>
    </div>
    <ul>
        <li>
            <div class="Title-Left">
                <span>技术片段</span>
            </div>
            <div class="Rom-left">
                <div class="Card">
                    <div class="pull-left CountRom">
                        <div class="CountData">
                            <div>
                                <span>本周：</span><span>7</span><span> 条</span>
                            </div>
                            <div>
                                <span>本月：</span><span>26</span><span> 条</span>
                            </div>
                            <div>
                                <span>总计：</span><span>120</span><span> 条</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right BetterPeople">
                        <ul>
                            <li>
                                <img src="~/Content/Image/amumu.jpg" title="杰出贡献" width="100%" />
                            </li>
                            <li>
                                <img src="~/Content/Image/teemo.jpg" title="杰出贡献" width="100%" />
                            </li>
                            <li>
                                <img src="~/Content/Image/mangseng.jpg" title="杰出贡献" width="100%" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="Chart">
                    <canvas id="CodeCanvas" class="Canvas"></canvas>
                </div>
            </div>
        </li>
        <li>
            <div class="Title">
                <span>项目框架</span>
            </div>
            <div class="Rom">
                <div class="Card">
                    <div class="pull-left CountRom">
                        <div class="CountData">
                            <div>
                                <span>本周：</span><span>7</span><span> 条</span>
                            </div>
                            <div>
                                <span>本月：</span><span>26</span><span> 条</span>
                            </div>
                            <div>
                                <span>总计：</span><span>120</span><span> 条</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right BetterPeople">
                        <ul>
                            <li>
                                <img src="~/Content/Image/xiaopao.jpg" title="杰出贡献" width="100%" />
                            </li>
                            <li>
                                <img src="~/Content/Image/amumu.jpg" title="杰出贡献" width="100%" />
                            </li>
                            <li>
                                <img src="~/Content/Image/anni.jpg" title="杰出贡献" width="100%" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="Chart">
                    <canvas id="FrameCanvas" class="Canvas"></canvas>
                </div>
            </div>
        </li>
        <li>
            <div class="Title">
                <span>实用工具</span>
            </div>
            <div class="Rom">
                <div class="Card">
                    <div class="pull-left CountRom">
                        <div class="CountData">
                            <div>
                                <span>本周：</span><span>7</span><span> 条</span>
                            </div>
                            <div>
                                <span>本月：</span><span>26</span><span> 条</span>
                            </div>
                            <div>
                                <span>总计：</span><span>120</span><span> 条</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right BetterPeople">
                        <ul>
                            <li>
                                <img src="~/Content/Image/zhadanren.jpg" title="杰出贡献" width="100%" />
                            </li>
                            <li>
                                <img src="~/Content/Image/teemo.jpg" title="杰出贡献" width="100%" />
                            </li>
                            <li>
                                <img src="~/Content/Image/anni.jpg" title="杰出贡献" width="100%" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="Chart">
                    <canvas id="ToolsCanvas" class="Canvas"></canvas>
                </div>
            </div>
        </li>
        <li>
            <div class="Title">
                <span>案例库</span>
            </div>
            <div class="Rom">
                <div class="Card">
                    <div class="pull-left CountRom">
                        <div class="CountData">
                            <div>
                                <span>本周：</span><span>7</span><span> 条</span>
                            </div>
                            <div>
                                <span>本月：</span><span>26</span><span> 条</span>
                            </div>
                            <div>
                                <span>总计：</span><span>120</span><span> 条</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right BetterPeople">
                        <ul>
                            <li>
                                <img src="~/Content/Image/teemo.jpg" title="杰出贡献" width="100%" />
                            </li>
                            <li>
                                <img src="~/Content/Image/mangseng.jpg" title="杰出贡献" width="100%" />
                            </li>
                            <li>
                                <img src="~/Content/Image/huang.jpg" title="杰出贡献" width="100%" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="Chart">
                    <canvas id="ExampleCanvas" class="Canvas"></canvas>
                </div>
            </div>
        </li>
        <!--<li>
            <div class="title">
                <span>问答</span>
            </div>
            <div class="rom">

            </div>
        </li>-->
    </ul>
    <div style="clear: both;"></div>
</div>
<div class="HotCard">
    <div class="HotList pull-left">
        <div class="PageTitle">
            <div class="pull-left">
                <i class="iconfont ">&#xe606;</i><span> 这里的代码最闪亮</span>
            </div>
            <div class="pull-right">
                <span><code onclick="LoadData('CodeList', '技术片段', '最新')">最新</code></span>
                <span><code onclick="LoadData('CodeList', '技术片段', '热门')">热门</code></span>
                <span><code onclick="LoadData('CodeList', '技术片段', '精华')">精华</code></span>
                <span><code onclick="GoMore('技术片段')" title="更多">(→_→)</code></span>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div id="CodeList">

        </div>
         </div>
    <div class="HotPeople pull-right">
        <div class="PageTitle">
            <i class="iconfont ">&#xe606;</i><span> 活跃程序猿</span>
        </div>
        <div class="BetterPeople">
            <img src="~/Content/Image/teemo.jpg" title="杰出贡献" />
            <img src="~/Content/Image/kainan.jpg" title="杰出贡献" />
            <img src="~/Content/Image/xiaopao.jpg" title="杰出贡献" />
        </div>
        <div class="PageTitle">
            <i class="iconfont ">&#xe606;</i><span> 热门分类</span>
        </div>
        <div class="HotType">
            <div>
                <a>前端开发 (20)</a>
            </div>
            <div>
                <a>Android开发 (15)</a>
            </div>
            <div>
                <a>IOS开发 (12)</a>
            </div>
            <div>
                <a>后端开发 (11)</a>
            </div>
            <div>
                <a>服务器开发 (7)</a>
            </div>
            <div>
                <a>数据库开发 (3)</a>
            </div>
        </div>
        <div class="PageTitle">
            <i class="iconfont ">&#xe606;</i><span> 热门标签</span>
        </div>
        <div class="Tags">
            <ul>
                <li class="tag tag-1">jquery</li>
                <li class="tag tag-2">HTML5</li>
                <li class="tag tag-3">多线程</li>
                <li class="tag tag-4">响应式</li>
                <li class="tag tag-5">自适应</li>
                <li class="tag tag-6">并行开发</li>
                <li class="tag tag-7">模块开发</li>
                <li class="tag tag-8">jquery插件</li>
                <li class="tag tag-9">swift布局</li>
                <li class="tag tag-10">android 基础</li>
            </ul>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<div class="HotCard">
    <div class="HotList pull-left">
        <div class="PageTitle">
            <i class="iconfont ">&#xe605;</i><span> 这里的案列最经典</span>
            <div class="pull-right">
                <span><code onclick="GoMore('案例库')" title="更多">(→_→)</code></span>
            </div>
        </div>
        <div class="Example">
            <div class="ExampleNew pull-left">
                <div class="ExampleHead">
                    <span> 最新案例</span>
                </div>
                <div id="NewExample" class="ExampleContent">
                  
                </div>
            </div>
            <div class="ExampleHot pull-right">
                <div class="ExampleHead">
                    <span> 热门案例</span>
                </div>
                <div id="HotExample" class="ExampleContent">
                  
                </div>
            </div>
        </div>
    </div>
    <div class="HotPeople pull-right">
        <div class="PageTitle">
            <i class="iconfont ">&#xe604;</i><span> 活跃程序猿</span>
        </div>
        <div class="BetterPeople">
            <img src="~/Content/Image/teemo.jpg" title="杰出贡献" />
            <img src="~/Content/Image/kainan.jpg" title="杰出贡献" />
            <img src="~/Content/Image/xiaopao.jpg" title="杰出贡献" />
        </div>

        <div class="PageTitle">
            <i class="iconfont ">&#xe604;</i><span> 热门标签</span>
        </div>
        <div class="Tags">
            <ul>
                <li class="tag tag-1">jquery</li>
                <li class="tag tag-2">HTML5</li>
                <li class="tag tag-3">多线程</li>
                <li class="tag tag-4">响应式</li>
                <li class="tag tag-5">自适应</li>
                <li class="tag tag-6">并行开发</li>
                <li class="tag tag-7">模块开发</li>
                <li class="tag tag-8">jquery插件</li>
                <li class="tag tag-9">swift布局</li>
                <li class="tag tag-10">android 基础</li>
            </ul>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<div class="HotCard">
    <div class="HotList pull-left">
        <div class="PageTitle">
            <i class="iconfont ">&#xe604;</i><span> 这里的框架最优秀</span>
            <div class="pull-right">
                <span><code onclick="LoadData('FrameList', '项目框架', '最新')">最新</code></span>
                <span><code onclick="LoadData('FrameList', '项目框架', '热门')">热门</code></span>
                <span><code onclick="LoadData('FrameList', '项目框架', '精华')">精华</code></span>
                <span><code onclick="GoMore('项目框架')" title="更多">(→_→)</code></span>
            </div>
        </div>
        <div id="FrameList">
           
        </div>
    </div>
    <div class="HotPeople pull-right">
        <div class="PageTitle">
            <i class="iconfont ">&#xe604;</i><span> 活跃程序猿</span>
        </div>
        <div class="BetterPeople">
            <img src="~/Content/Image/teemo.jpg" title="杰出贡献" />
            <img src="~/Content/Image/kainan.jpg" title="杰出贡献" />
            <img src="~/Content/Image/xiaopao.jpg" title="杰出贡献" />
        </div>
        <div class="PageTitle">
            <i class="iconfont ">&#xe604;</i><span> 热门分类</span>
        </div>
        <div class="HotType">
            <div>
                <a>前端开发 (20)</a>
            </div>
            <div>
                <a>Android开发 (15)</a>
            </div>
            <div>
                <a>IOS开发 (12)</a>
            </div>
            <div>
                <a>后端开发 (11)</a>
            </div>
            <div>
                <a>服务器开发 (7)</a>
            </div>
            <div>
                <a>数据库开发 (3)</a>
            </div>
        </div>
        <div class="PageTitle">
            <i class="iconfont ">&#xe604;</i><span> 热门标签</span>
        </div>
        <div class="Tags">
            <ul>
                <li class="tag tag-1">jquery</li>
                <li class="tag tag-2">HTML5</li>
                <li class="tag tag-3">多线程</li>
                <li class="tag tag-4">响应式</li>
                <li class="tag tag-5">自适应</li>
                <li class="tag tag-6">并行开发</li>
                <li class="tag tag-7">模块开发</li>
                <li class="tag tag-8">jquery插件</li>
                <li class="tag tag-9">swift布局</li>
                <li class="tag tag-10">android 基础</li>
            </ul>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<div class="HotCard">
    <div class="HotList pull-left">
        <div class="PageTitle">
            <i class="iconfont ">&#xe603;</i><span> 这里的工具最好用</span>
            <div class="pull-right">
                <span><code onclick="LoadData('ToolList', '实用工具', '最新')">最新</code></span>
                <span><code onclick="LoadData('ToolList', '实用工具', '热门')">热门</code></span>
                <span><code onclick="GoMore('实用工具')" title="更多">(→_→)</code></span>
            </div>
        </div>
        <div id="ToolList" class="Tools">
            <div class="Tool">
                <div>
                    <span class="ToolTitle">VS 2010</span>
                </div>
                <div>
                    <img src="~/Content/Image/vs2010.jpg" title="VS 2010">
                </div>
                <div class="About">Visual Studio是微软公司推出的开发环境，是目前最流行的Windows平台应用程序开发环境。</div>
                <div>
                    <button class="btn">详细介绍</button>
                    <button class="btn btn-warning">立即下载</button>
                </div>
            </div>
            <div class="Tool">
                <div>
                    <span class="ToolTitle">SQLServer 2008</span>
                </div>
                <div>
                    <img src="~/Content/Image/sqlserver2008.jpg" title="VS 2010">
                </div>
                <div class="About">sql server 2008是在Microsoft的数据平台上发布的最新数据库</div>
                <div>
                    <button class="btn">详细介绍</button>
                    <button class="btn btn-warning">立即下载</button>
                </div>
            </div>
            <div class="Tool">
                <div>
                    <span class="ToolTitle">VS 2012</span>
                </div>
                <div>
                    <img src="~/Content/Image/vs2012.jpg" title="VS 2010">
                </div>
                <div class="About">Visual Studio是微软公司推出的开发环境，是目前最流行的Windows平台应用程序开发环境。</div>
                <div>
                    <button class="btn">详细介绍</button>
                    <button class="btn btn-warning">立即下载</button>
                </div>
            </div>
            <div class="Tool">
                <div>
                    <span class="Tools">VS 2013</span>
                </div>
                <div>
                    <img src="~/Content/Image/vs2013.jpg" title="VS 2010">
                </div>
                <div class="About">sql server 2008是在Microsoft的数据平台上发布的最新数据库</div>
                <div>
                    <button class="btn">详细介绍</button>
                    <button class="btn btn-warning">立即下载</button>
                </div>
            </div>
            <div class="Tool">
                <div>
                    <span class="ToolTitle">MD5加密</span>
                </div>
                <div>
                    <img src="~/Content/Image/md5.jpg" title="VS 2010">
                </div>
                <div class="About">Visual Studio是微软公司推出的开发环境，是目前最流行的Windows平台应用程序开发环境。</div>
                <div>
                    <button class="btn">详细介绍</button>
                    <button class="btn btn-warning">立即下载</button>
                </div>
            </div>
            <div class="Tool">
                <div>
                    <span class="ToolTitle">MD5加密</span>
                </div>
                <div>
                    <img src="~/Content/Image/md5.jpg" title="VS 2010">
                </div>
                <div class="About">Visual Studio是微软公司推出的开发环境，是目前最流行的Windows平台应用程序开发环境。</div>
                <div>
                    <button class="btn">详细介绍</button>
                    <button class="btn btn-warning">立即下载</button>
                </div>
            </div>
        </div>
    </div>
    <div class="HotPeople pull-right">
        <div class="PageTitle">
            <i class="iconfont ">&#xe603;</i><span> 活跃程序猿</span>
        </div>
        <div class="BetterPeople">
            <img src="~/Content/Image/teemo.jpg" title="杰出贡献" />
            <img src="~/Content/Image/kainan.jpg" title="杰出贡献" />
            <img src="~/Content/Image/xiaopao.jpg" title="杰出贡献" />
        </div>
        <div class="PageTitle">
            <i class="iconfont ">&#xe603;</i><span> 热门分类</span>
        </div>
        <div class="HotType">
            <div>
                <a>前端开发 (20)</a>
            </div>
            <div>
                <a>Android开发 (15)</a>
            </div>
            <div>
                <a>IOS开发 (12)</a>
            </div>
            <div>
                <a>后端开发 (11)</a>
            </div>
            <div>
                <a>服务器开发 (7)</a>
            </div>
            <div>
                <a>数据库开发 (3)</a>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>


@section Scripts{
    <script src="~/Content/Scripts/Chart.min.js"></script>
    <script>
       
        LoadHtml($("#CodeList"), "技术片段", "最新");
        LoadHtml($("#FrameList"), "项目框架", "最新");
        LoadHtml($("#NewExample"), "案例库", "最新");
        LoadHtml($("#HotExample"), "案例库", "热门");

        function LoadHtml(divRom, plateName, typeName) {
            divRom.fadeToggle(0);
            $.post("/Article/ArticleHTMLList", { PlateName: plateName, TypeName: typeName, Page: 1 ,count:5}, function (d, s, x) {
                if (s == "success") {
                    divRom.append(d);
                }
                divRom.fadeToggle(1000);
            });
        }

        function LoadData(divTag, plateName, typeName) {
            var divRom = $("#" + divTag);
            divRom.empty();
            divRom.fadeToggle(0);
            $.post("/Article/ArticleHTMLList", { PlateName: plateName, TypeName: typeName, Page: 1, count: 5 }, function (d, s, x) {
                if (s == "success") {
                    divRom.append(d);
                }
                divRom.fadeToggle(1000);
            });
        }
        function GoMore(plateName) {
            location.href = '/Article/List/' + plateName;
        }


    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100)
    };
    var CodeChartData = {
        labels: ["1", "2", "3", "4", "5", "6", "7"],
        datasets: [{
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
        }]
    }
    var FrameChartData = {
        labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
        datasets: [{
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
        }]
    }
    var ToolsChartData = {
        labels: ["1", "2", "3", "4", "5", "6", "7"],
        datasets: [{
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
        }]
    }
    var ExampleChartData = {
        labels: ["1", "2", "3", "4", "5", "6", "7"],
        datasets: [{
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
        }]
    }
    window.onload = function () {
        var ctx = document.getElementById("CodeCanvas").getContext("2d");
        window.myBar = new Chart(ctx).Bar(CodeChartData, {
            responsive: true
        });
        var ctx = document.getElementById("FrameCanvas").getContext("2d");
        window.myBar = new Chart(ctx).Line(FrameChartData, {
            responsive: true
        });
        var ctx = document.getElementById("ToolsCanvas").getContext("2d");
        window.myBar = new Chart(ctx).Bar(ToolsChartData, {
            responsive: true
        });
        var ctx = document.getElementById("ExampleCanvas").getContext("2d");
        window.myBar = new Chart(ctx).Line(ExampleChartData, {
            responsive: true
        });
    }
    </script>
}