@{
    ViewBag.Title = "导入文档";
}
@section Css{
    <style>
        .ImportRom {
            background-color: white;
            width: 90%;
            margin-left: 5%;
            border: solid 1px #D8D8D8;
            border-radius: 5px;
            height: auto;
            min-height: 570px;
        }

            .ImportRom .Title {
                text-align: center;
                font-size: x-large;
                margin-top: 40px;
            }

            .ImportRom .WorkRom {
                height: 80px;
                text-align:center;
            }

            .ImportRom .Btn_Do {
                text-align: center;
                margin-top: 10px;
            }

            .ImportRom .DetailsMsg {
                margin-left: 30%;
                margin-right: 30%;
                margin-top: 20px;
                min-height: 100px;
                border: solid 1px #D8D8D8;
                border-radius: 5px;
                padding:5px;
            }
    </style>
}
<div class="ImportRom">
    <div class="Title">文档导入</div>
    <div class="WorkRom"><span>方便·快捷</span></div>
    <div class="Btn_Do"><a class="btn btn-primary" href="/DownLoad/Attachment/b590cc7286f0479cbbebf3c58c8c63f8" target="_blank">模板下载</a>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" onclick="SelectFile()">选择上传文件</button></div>
        <div class="DetailsMsg">
            <div><span>说明：</span></div>
            <div><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span>1.导入的文档不支持 xlsx格式！</span></div>
            <div><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span>2.按照模板的格式进行编辑。</span></div>
            <div><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span>3.程序会对文档正文中的换行符替换成br标签处理。</span></div>
            <div><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span>4.导入后的文档是未发布状态，需要手动到个人中心的[未发布]分类去编辑微调格式后发布。</span></div>
            <div><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span>5.导入的文档不支持附件，只能手动编辑时添加附件。</span></div>
        </div>
    
</div>
<form id="AjaxUploadForm" enctype='multipart/form-data'>
    <input type="file" style="visibility:hidden;height:0px;" accept=".xls" name="ArticleFile" id="input_SelectFile" onchange="UpLoadFileChange(this)" />
</form>
@section Scripts{
    <script type="text/javascript" src="~/Content/Scripts/jquery.form.js"></script>
    <script>
        layer.config({
            extend: 'extend/layer.ext.js'
        });
        function SelectFile() {
            $("#input_SelectFile").click();
        }

        function UpLoadFileChange(e) {
            layer.load(2);
            $("#AjaxUploadForm").ajaxSubmit({
                type: "post",
                url: "/Upload/ImportArticle",
                success: function (data) {
                    layer.closeAll();
                    layer.msg(data);

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.closeAll();
                    layer.alert(XMLHttpRequest.statusText + ":" + XMLHttpRequest.status);
                    console.debug(XMLHttpRequest.responseText);
                }
                //
            });
        }
    </script>
}